---
// Component imports
import ExtensionCard from "@/components/atomic/ExtensionCard.astro";
import FilterButton from "@/components/atomic/FilterButton.astro";
import FlexGroup from "@/components/utilities/FlexGroup.astro";
import Heading from "@/components/utilities/Heading.astro";
import Wrapper from "@/components/utilities/Wrapper.astro";
import MainLayout from "@/layouts/MainLayout.astro";

// Content Collection
import { getCollection } from "astro:content";

const allExtensions = await getCollection("extensions");
---

<MainLayout>
  <section class="extensions-section" aria-labelledby="extensions-title">
    <div class="pad-sect-start-md">
      <Wrapper>
        <!-- Header -->
        <header>
          <FlexGroup dir="col" primAxis="between" gap="xl" classes="dir-md-row">
            <Heading
              tag="h1"
              size="h1"
              text="Extensions List"
              id="extensions-title"
            />
            <fieldset class="border-none" id="filter-controls">
              <legend class="visually-hidden">Filter by status</legend>
              <FlexGroup>
                <FilterButton option="all" isChecked />
                <FilterButton option="active" />
                <FilterButton option="inactive" />
              </FlexGroup>
            </fieldset>
          </FlexGroup>
        </header>

        <!-- Extensions-List -->
        <ul class="extensions-list">
          {
            allExtensions.map(
              ({ data: { name, nameKebab, logo, description, isActive } }) => (
                <li>
                  <ExtensionCard
                    title={name}
                    id={nameKebab}
                    logo={logo}
                    desc={description}
                    isActive={isActive}
                  />
                </li>
              )
            )
          }
        </ul>
      </Wrapper>
    </div>
  </section>
</MainLayout>

<style lang="scss">
  @use "@sass/miscellaneous" as *;

  .extensions-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
    grid-auto-rows: 1fr;
    gap: var(--space-cont-md);
    list-style: none;
    margin-block-start: 2.5rem;

    @include mq(medium) {
      margin-block-start: 2rem;
    }
  }
</style>

<script>
  // Imports
  import { gsap } from "gsap";
  import { cssTime } from "@lib/helper";

  // Elements
  const filterButtons = [
    ...document.querySelectorAll("input[name='filter-status']"),
  ] as HTMLInputElement[];
  const statusToggles = [
    ...document.querySelectorAll(".status-toggle > input"),
  ] as HTMLInputElement[];
  const removeButtons = [
    ...document.querySelectorAll(".remove-button"),
  ] as HTMLButtonElement[];
  const allExtensions = [
    ...document.querySelectorAll(".extension-card"),
  ] as HTMLElement[];

  // Functions
  function filterExtensions(filter: string) {
    allExtensions.forEach((ex) => {
      ex.closest("li")?.removeAttribute("hidden");
      if (filter === "all") return;

      if (ex.dataset.status !== filter) {
        ex.closest("li")?.setAttribute("hidden", "true");
      }
    });
  }

  // Event-listeners
  filterButtons.forEach((el) => {
    el.addEventListener("change", (e) => {
      const target = e.currentTarget as HTMLInputElement;
      const filter = target.getAttribute("value");

      if (filter !== null) filterExtensions(filter);
    });
  });

  statusToggles.forEach((el) => {
    el.addEventListener("change", (e) => {
      const target = e.currentTarget as HTMLInputElement;
      const card = target.closest(".extension-card");
      const checkedFilter = document.querySelector<HTMLInputElement>(
        'input[type="radio"][name="filter-status"]:checked'
      );
      const filter = checkedFilter?.value;
      // flip checked attribute
      if (target.hasAttribute("checked")) {
        target.removeAttribute("checked");
        card?.setAttribute("data-status", "inactive");
      } else {
        target.setAttribute("checked", "");
        target
          .closest(".extension-card")
          ?.setAttribute("data-status", "active");
      }
      // animate and update view if filtered
      if (filter !== "all") {
        gsap.to(card, {
          opacity: 0,
          duration: cssTime("--motion-default") * 1.5,
          ease: "power1.in",
          onComplete: () => {
            gsap.set(card, { opacity: 1 });
            if (filter !== undefined) filterExtensions(filter);
          },
        });
      }
    });
  });

  removeButtons.forEach((el) => {
    el.addEventListener("click", (e) => {
      const clicked = e.currentTarget as HTMLButtonElement;
      const li = clicked.closest("li");
      gsap.to(li, {
        opacity: 0,
        duration: cssTime("--motion-default") * 1.5,
        ease: "power1.in",
        onComplete: () => {
          li?.remove();
        },
      });
    });
  });

  // GSAP
  const tl = gsap.timeline();
  tl.to(".gsap-auto-alpha", { autoAlpha: 1 })
    .from("#header-inner", {
      yPercent: -50,
      opacity: 0,
      duration: cssTime("--motion-slow"),
      ease: "back",
    })
    .from("#extensions-title", { x: -20, opacity: 0, ease: "back" }, "<50%")
    .from("#filter-controls", { x: 20, opacity: 0, ease: "back" }, "<")
    .from(
      ".extensions-list > li",
      {
        opacity: 0,
        scale: 0.9,
        duration: cssTime("--motion-slow"),
        ease: "back",
        stagger: 0.1,
      },
      "<50%"
    );
</script>
